<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col-xxl-12">
            <label for="" class="form-label">Admission Number</label>
            <input name="admno"[(ngModel)]="admno" type="text" class="form-control">
        </div>
        <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col-xxl-12">
            <button (click)="readValues()"  class="btn btn-success">Search</button>
        </div>
        <div></div>
    </div>
    <div class="row g-3" *ngFor="let i of search">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" value="{{i.name}}">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Admission Number</label>
            <input type="text" class="form-control" value="{{i.admno}}">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">Roll Number</label>
            <input type="text" class="form-control" value="{{i.rollno}}">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">College</label>
            <input type="text" class="form-control" value="{{i.college}}">
        </div>

        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xl-6 col-xxl-6">
            <button (click)="deletebtn(i.id)" class="btn btn-danger">Delete</button>
        </div>

        

        
    </div>
</div>
